$nav: #81b3d2;
$features-gray: #eeeeee;
$white: #ffffff;
$black: #000000;
$mountains-bck: #dfedf6;
$font-title: 18px;
$number-description: 14px;
$line-height-desc: 21px;
$line-height-fill: 24px;
$line-height-title: 26px;
$nav-list-item: 40px;
