$nav: #81b3d2;
$features-gray: #eeeeee;
$white: #ffffff;
$black: #000000;
$nav-top: #9ac2db;
$nav-bottom: #678fa8;
$active-brown: #766357;
$mountains-bck: #dfedf6;
$bottom-line: #e5e5e5;
$input-phone: #e6e6e6;
$input-gray: #f2f2f2;
$bck-road: #eaeaea;
$dot: #333333;
$map-color: #f3f1ed;
$hover-button: #669ec0;
$active-color: #88b6d1;
$active-button: #5496bd;
$active-gray: #b2b2b2;
$trackbar-mobile: #5c6870;
$trackbar-mobile-h: #333333;
$trackbar-mobile-a: #b8b8b8;
$trackbar-hover: #c2c2c2;
$trackbar-active: #949494;
$absolute-line: #dbdbdb;
$number-description: 14px;
$font-title: 18px;
$line-height-desc: 21px;
$line-height-fill: 24px;
$line-height-title: 26px;
$interest: 30px;
$nav-list-item: 40px;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
