.body-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;

  text-transform: uppercase;
  background-color: $input-gray;
}

@media (min-width: $tablet-width) {
  .body-wrapper {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .body-wrapper {
    width: 1200px;
    background-color: $input-gray;
    box-shadow: 0 0 15px 2px #dedede;
  }
}
