.comment {
  display: flex;
  flex-direction: column;
  width: 320px;

  color: $black;

  background-color: $white;
  border-bottom: 1px solid $bottom-line;
  /*outline: 1px solid red;*/
}

.comment__title {
  margin-bottom: 12px;
  padding-top: 19px;

  font-size: $font-title;
  line-height: $line-height-title;
  font-weight: bold;
  text-align: center;
}

.comment__description {
  margin-bottom: 17px;

  font-size: $number-description;
  line-height: $line-height-fill;
  font-weight: normal;
  text-align: center;
}
