.copyright {
  display: block;

  outline: 1px solid red;
}

.page-footer__copyright {
  width: 320px;
}

.copyright__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}
