.features {
  display: flex;
  flex-direction: column;
  width: 320px;
  outline: 1px solid red;
}

.features__blocks {
  display: flex;
  flex-direction: column;
  width: 320px;

  /*outline: 1px solid red;*/

  color: $white;
  background-color: $nav;
}

.features__title--town {
  margin-top: 68px;
  margin-bottom: 9px;
}

.features__background {
  display: flex;
  margin: 0 auto;
  width: 280px;

  color: $black;

  background-color: $input-gray;
  border-bottom: 1px solid lightgray;
}

.features__image {
  display: flex;
  width: 320px;

  /*outline: 1px solid red;*/
}

.features__title {
  font-weight: bold;
  font-size: $font-title;
  line-height: $line-height-title;
  text-align: center;
}

.features__title--bridge {
  margin-top: 39px;
  margin-bottom: 8px;
}

.features__title--area {
  margin-top: 25px;
  margin-bottom: 8px;
}

.features__title--road {
  margin-top: 27px;
  margin-bottom: 8px;
}

.features__title--tourists {
  margin-top: 27px;
  margin-bottom: 8px;
}

.features__number {
  margin: 0;
  font-size: $number-description;
  line-height: $line-height-desc;
  font-weight: normal;
  text-align: center;
}

.features__description {
  font-size: $number-description;
  line-height: $line-height-desc;
  font-weight: normal;
  text-align: center;
}

.features__description--area {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 15px;
}

.features__description--road {
  margin-top: 16px;
  margin-bottom: 27px;
  padding-left: 17px;
  padding-right: 20px;
}

.features__description--tourists {
  margin-top: 16px;
  margin-bottom: 26px;
  padding-left: 10px;
  padding-right: 11px;
}

.features__description--town {
  margin-bottom: 41px;
  padding-left: 27px;
  padding-right: 20px;
}

.features__blocks--bridge {
  padding: 0;
}

.features__description--bridge {
  padding-left: 22px;
  padding-right: 23px;
  margin-top: 16px;
  margin-bottom: 39px;
}

.features__background--border {
  border-bottom: none;
}
