.features {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 423px;
  outline: 1px solid red;
}

.features__blocks {
  display: flex;
  flex-direction: column;
  width: 320px;
  outline: 1px solid red;
  background-color: #81b3d2;
}

.features__background {
  background-color: $features-gray;
}

.features__image {
  display: flex;
  width: 320px;
  min-height: 260px;
  outline: 1px solid red;
}

.features__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.features__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
}

.features__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
}
