.form {
  display: flex;
  flex-direction: column;
  width: 320px;

  background-color: $white;
}

.form__title {
  font-size: $font-title;
  line-height: $line-height-title;
  font-weight: bold;
  text-align: center;
}

.form__general {
  display: flex;
  flex-direction: column;
  width: 320px;

  color: $black;
  background-color: $white;
  border-bottom: 1px solid $bottom-line;
}

.form__general--fullname {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding-bottom: 25px;
  border-bottom: 1px solid $bottom-line;
}

.form__feeling {
  margin-top: 18px;
  margin-bottom: -21px;

  border: none;
}

.form__feeling--position {
  margin-top: 18px;
  margin-bottom: -12px;
}

.form__feeling--checkbox {
  margin-top: 13px;
  margin-bottom: -21px;
}

.form__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form__legend {
  font-size: $font-title;
  line-height: $line-height-title;
  font-weight: bold;
  text-align: center;
}

.form__legend--exptrience {
  margin-right: 0;
}

.form__legend--checkbox {
  margin: 0 auto;
  padding-bottom: 5px;
  width: 300px;
}

.form__button-find {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 37px;
  padding: 16px 0;
  width: 100%;

  color: $white;

  font-size: $line-height-desc;
  line-height: $line-height-title;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $nav;
  border: none;
}

.form__button-find:hover {
  background-color: $hover-button;
}

.form__button-find:active {
  color: $active-color;
  background-color: $active-button;
}


.form__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 280px;
}

.form__input {
  position: relative;

  font-size: $font-title;
  line-height: $line-height-title;
  font-weight: bold;
  background-color: $input-gray;
  border: none;
}

.form__input:hover {
  background-color: $bottom-line;
}

.form__input:focus {
  background-color: transparent;
  outline: 4px solid $bottom-line;
}

.form__input--emotions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 160px;

  color: $black;
  background-color: $input-gray;
}

.form__text {
  padding-left: 20px;
  padding-top: 15px;
  min-height: 143px;

  font-size: $font-title;
  line-height: $line-height-title;
  font-weight: bold;
  background-color: $input-gray;

  border: none;
}

.form__wrapper--name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  width: 320px;
  margin-top: 3px;
  margin-bottom: 20px;
  min-height: 58px;
}

.form__content--name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  padding-left: 20px;
}

.form__input--name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  margin-left: 13px;
  padding-left: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 209px;
}

.form__wrapper--surname {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  width: 320px;
  margin-bottom: 20px;
  min-height: 58px;
}

.form__content--surname {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  padding-left: 20px;
}

.form__input--surname {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  margin-left: 13px;
  padding-left: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 172px;
}

.form__wrapper--patronymic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  width: 320px;
  min-height: 58px;
}

.form__content--patronymic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  padding-left: 20px;
}

.form__input--patronymic {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  margin-left: 17px;
  padding-left: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 172px;
}

.form__title--contacts {
  margin-top: 18px;
  margin-bottom: 20px;
}

.form__content--contacts {
  position: relative;

  margin-left: 42px;
}

.form__input--contacts {
  margin-top: 7px;
  margin-bottom: 13px;
  margin-left: 19px;
  margin-right: 20px;
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 24px;
  width: 255px;
  height: 26px;
}

.form__content--contacts::before {
  position: absolute;
  content: "";

  top: 29px;
  left: 200px;
  width: 58px;
  height: 58px;
  z-index: 1;

  background-repeat: no-repeat;
  background-color: $input-phone;
  background-image: url("../img/icon-phone.svg");
  background-position: 50% 50%;
}

.form__content--mail {
  position: relative;
  margin-left: 42px;
}

.form__input--mail {
  margin-top: 7px;
  margin-bottom: 27px;
  margin-left: 19px;
  margin-right: 20px;
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 24px;
  width: 255px;
  height: 26px;
}

.form__content--mail::before {
  position: absolute;
  content: "";

  top: 29px;
  left: 200px;
  width: 58px;
  height: 58px;
  z-index: 1;

  background-repeat: no-repeat;
  background-color: $input-phone;
  background-image: url("../img/icon-mail.svg");
  background-position: 50% 50%;
}

.form__content {
  position: relative;
  font-size: $number-description;
  line-height: $line-height-title;
  font-weight: normal;
  text-transform: uppercase;
}

.form__content--normal {
  position: relative;
  padding-left: 86px;

  cursor: pointer;

  font-size: $font-title;
  line-height: $line-height-title;
  font-weight: bold;
  text-transform: none;
}

.form__content--normal::before {
  content: "";

  position: absolute;
  top: -16px;
  left: 7px;
  width: 55px;
  height: 55px;

  background-color: $input-gray;
  border: 1px solid $input-gray;
  border-radius: 50%;
}

.form__checkbox--item {
  margin-top: 32px;
  margin-bottom: 44px;
}

.form__checkbox input:checked + .form__content--normal::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 25px;

  width: 15px;
  height: 15px;

  background-color: $dot;
  border: 3px solid $dot;
  border-radius: 50%;
  box-shadow: 0 0 0 18px $input-gray;
}

.form__checkbox input:checked:hover + .form__content--normal::before {
  box-shadow: 0 0 0 18px $bottom-line;
}

.form__checkbox input:focus + .form__content--normal::before {
  border-color: $dot;
}

.form__checkbox-type {
  margin-top: 26px;
  margin-bottom: 54px;
}

.form__content--box {
  position: relative;
  padding-left: 86px;

  cursor: pointer;

  font-size: $font-title;
  line-height: $line-height-title;
  font-weight: bold;
  text-transform: none;
}

.form__content--box::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 7px;
  width: 56px;
  height: 56px;

  background-color: $input-gray;
  border: 1px solid $input-gray;
  border-radius: 7px;
}

.form__checkbox-type input:checked + .form__content--box::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 7px;

  width: 56px;
  height: 56px;

  background-color: $bottom-line;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon-tick.svg");
}

.form__field {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    padding-bottom: 26px;
  }

  .form__title {
    font-size: $line-height-desc;
  }

  .form__title--tablet-desk {
    margin-top: 0;
    margin-bottom: 54px;
    padding-left: 19px;
    text-align: left;
  }

  .form__general {
    display: flex;
    flex-direction: column;
    width: 380px;

    color: $black;
    background-color: $white;
    border-bottom: none;
  }

  .form__general--fullname {
    width: 320px;
    margin-left: 65px;
    padding-bottom: 0;
  }

  .form__general:nth-child(1) {
    order: 2;
  }

  .form__general:nth-child(2) {
    order: 3;
  }

  .form__general:nth-child(3) {
    order: 1;
  }

  .form__general:nth-child(4) {
    order: 4;
  }

  .form__general:nth-child(5) {
    order: 5;
  }

  .form__general--experience {

    width: 320px;
    margin-left: 38px;
    border-bottom: 0;
  }

  .form::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 290px;
    top: 7px;
    left: 383px;
    z-index: 1;
    background: $absolute-line;
  }

  .form__general--contacts {
    width: 90%;
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 26px;
  }

  .form__general--attraction {
    flex-direction: row;
    width: 768px;
    margin-bottom: 8px;
  }

  .form__general--mask {
    position: relative;
  }

  .form__general--mask::before {
    position: absolute;
    content: "";
    width: 125px;
    height: 1px;
    top: 25px;
    left: 60px;
    background: $absolute-line;
  }

  .form__general--mask::after {
    position: absolute;
    content: "";
    width: 125px;
    height: 1px;
    top: 25px;
    right: 60px;
    background: $absolute-line;
  }

  .form__general--emotions {
    width: 648px;
    margin: 0 auto;
  }

  .form__feeling--position {
    margin-top: 0;
    margin-bottom: -12px;
  }

  .form__feeling--checkbox {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 0;
    width: 560px;
  }

  .form__boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-left: 78px;
    margin-bottom: 10px;
    width: 550px;
  }

  .form__legend {
    margin-bottom: 16px;

    font-size: $line-height-desc;
    line-height: $line-height-title;
  }

  .form__legend--checkbox {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 300px;
  }

  .form__button-find {
    flex-grow: 0;
    width: 324px;
    margin-top: 57px;
    padding-left: 10px;
    padding-right: 19px;
  }

  .form__description {
    margin-top: 36px;
    width: 100%;
  }

  .form__button-text {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .form__field {
    display: flex;
    width: 160px;
    margin-left: auto;

    font-size: $number-description;
    line-height: $line-height-title;
    font-weight: normal;
  }

  .form__input {
    position: relative;

    font-size: $font-title;
    line-height: $line-height-title;
    font-weight: bold;
    background-color: $input-gray;
    border: none;
  }

  .form__input--contacts {
    margin-right: 23px;
    margin-bottom: 0;
    width: 624px;
  }

  .form__input--mail {
    margin-right: 23px;
    width: 624px;
  }

  .form__input--name {
    width: 194px;
  }

  .form__input--surname {
    width: 157px;
  }

  .form__input--patronymic {
    width: 157px;
  }

  .form__title--contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 24px;
    padding: 0 22px;
  }

  .form__title--contacts::before,
  .form__title--contacts::after {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;
    width: 20px;
    height: 1px;

    background: $absolute-line;
  }

  .form__title--contacts::before {
    margin-right: 60px;
  }

  .form__title--contacts::after {
    margin-left: 60px;
  }

  .form__title--emotions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .form__title--emotions::before,
  .form__title--emotions::after {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;
    width: 20px;
    height: 1px;

    background: $absolute-line;
  }

  .form__title--emotions::before {
    margin-right: 75px;
  }

  .form__title--emotions::after {
    margin-left: 75px;
  }

  .form__content--contacts::before {
    top: 33px;
    left: 568px;
  }

  .form__content--mail {
    margin-top: 23px;
  }

  .form__content--mail::before {
    top: 33px;
    left: 568px;
  }

  .form__checkbox--item {
    margin-top: 52px;
  }

  .form__checkbox-type {
    margin-bottom: 37px;
    width: 258px;
  }

  .form__contacts-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form__input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 1200px;
    padding-bottom: 30px;
  }

  .form::before {
    height: 300px;
    left: 600px;
  }

  .form__general--fullname {
    width: 425px;
    margin-left: 157px;
  }

  .form__general--experience {
    width: 400px;
    margin-left: 103px;
  }

  .form__general--contacts {
    margin-top: 25px;
  }

  .form__general--emotions {
    width: 960px;
  }

  .form__general--attraction {
    width: 1200px;
    margin: 0 auto;
  }

  .form__general--mask::before,
  .form__general--mask::after {
    display: none;
  }

  .form__content--box {
    padding-left: 90px;
  }

  .form__wrapper--name {
    width: 420px;
  }

  .form__wrapper--surname {
    width: 420px;
  }

  .form__wrapper--patronymic {
    width: 420px;
  }

  .form__input--name {
    width: 328px;
  }

  .form__input--surname {
    width: 291px;
  }

  .form__input--patronymic {
    width: 291px;
  }

  .form__input--contacts {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 58px;
    width: 289px;
  }

  .form__input--mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 58px;
    width: 289px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .form__legend--checkbox {
    margin-bottom: 0;
  }

  .form__legend-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 110px;
  }

  .form__legend-lines::before,
  .form__legend-lines::after {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;
    width: 20px;
    height: 1px;

    background: $absolute-line;
  }

  .form__legend-lines::before {
    margin-right: 50px;
  }

  .form__legend-lines::after {
    margin-left: 50px;
  }

  .form__legend--experience {
    padding-left: 65px;
  }

  .form__title--contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding: 0 60px;
  }

  .form__title--contacts::before,
  .form__title--contacts::after {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;
    width: 20px;
    height: 1px;

    background: $absolute-line;
  }

  .form__title--contacts::before {
    margin-right: 60px;
  }

  .form__title--contacts::after {
    margin-left: 60px;
  }

  .form__title--emotions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .form__title--emotions::before,
  .form__title--emotions::after {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;
    width: 20px;
    height: 1px;

    background: $absolute-line;
  }

  .form__title--emotions::before {
    margin-right: 75px;
  }

  .form__title--emotions::after {
    margin-left: 75px;
  }

  .form__feeling--checkbox {
    width: 1200px;
    padding-top: 0;
  }

  .form__boxes {
    justify-content: center;
    width: 1100px;
    margin: 0 auto;
    margin-top: 25px;
  }

  .form__button-find {
    width: 480px;
    padding-left: 21px;
    padding-right: 20px;
  }

  .form__feeling--position {
    margin-top: 0;
    margin-bottom: -12px;
  }

  .form__checkbox-type {
    width: 203px;
    margin-bottom: 54px;
    padding-right: 30px;
    padding-left: 27px;
  }

  .form__checkbox--rocks {
    width: 250px;
    padding-left: 9px;
    padding-right: 0;
  }

  .form__contacts-wrapper {
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 27px;
  }

  .form__input-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 58px;
  }

  .form__content--hidden {
    display: none;
  }

  .form__content--contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 59px;
  }

  .form__content--contacts::before {
    top: 0;
    left: 343px;
  }

  .form__content--mail::before {
    top: 0;
    left: 422px;
  }

  .form__content--mail {
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
