.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 280px;

  background-color: $white;
}

.main-nav__toggle {
  position: absolute;
  top: 16px;
  left: 271px;
  z-index: 2;

  display: block;
  width: 23px;
  height: 22px;

  background-color: $nav;

  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: $nav;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 23px;
  left: 21px;

  width: 23px;
  height: 22px;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-image: url("../../img/icon-burger.svg");
}

.main-nav__cross {
  fill: $white;
}

.main-nav__menu {
  content: "";

  position: absolute;
  top: 224px;
  left: 6px;
  fill: $nav;
}

.main-nav__wrapper {
  background-color: $white;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 768px;
    min-height: 56px;
    margin: 0 auto;

    background-color: $white;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    width: 768px;
    margin: 0 auto;

    color: $black;

    background-color: $white;
  }

  .main-nav__list {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;

    background-color: $white;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;

    color: $black;

    background-color: $white;
  }
}
