.map {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.map__settings {
  position: relative;

  background-color: $map-color;
}

.map__marker {
  position: absolute;
  top: 46%;
  left: 46%;
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
  }

  .map__settings {
    width: 768px;
    height: 350px;

    background-image: url("../img/bg-map-tablet@1x.jpg");
  }

  .map__size {
    display: none;
  }

  .map__marker {
    left: 48%;
  }
}

@media (min-width: $desktop-width) {
  .map {
    display: flex;
    flex-direction: column;
    width: 1200px;
  }

  .map__settings {
    width: 1200px;

    background-image: url("../img/bg-map-desktop@1x.jpg");
  }

  .map__marker {
    left: 49%;
  }
}
