.map {
  display: flex;
  flex-direction: column;
  width: 320px;
  z-index: 1;
}

.map--img {
  position: relative;
  display: flex;
  width: 320px;
  height: 350px;

  background-color: $map-color;
  background-image: url("../img/bg-map-mobile@1.jpg");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 640px auto;
    background-position: 53% 30%;
  }
}

.map--img::before {
  position: absolute;
  content: "";
  top: 46%;
  left: 46%;
  z-index: 1;

  width: 27px;
  height: 27px;

  background-image: url("../img/icon-map-marker.svg");
}

.map__interactive {
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
  }

  .map--img {
    width: 768px;

    background-image: url("../img/bg-map-tablet@1.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 1536px auto;
      background-position: 53% 30%;
    }
  }

  .map--img::before {
    left: 48%;
  }

  .map__interactive {
    width: 768px;
    height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    display: flex;
    flex-direction: column;
    width: 1200px;
  }

  .map--img {
    width: 1200px;

    background-image: url("../img/bg-map-desktop@1.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 2400px auto;
      background-position: 53% 30%;
    }
  }

  .map__img::before {
    left: 49%;
  }

  .map__interactive {
    width: 1200px;
  }
}
