.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: relative;

  background-color: $white;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    width: 768px;

    color: $black;

    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1200px;
  }
}
