.page-footer {
  display: flex;
  flex-direction: column;
  width: 320px;

  outline: 1px solid red;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  background-color: $white;
}

.page-footer__social {
  width: 320px;
  margin: 0;
}

.page-footer__copyright {
  margin-top: 16px;
  width: 320px;
}
