.popup {
  display: none;
  flex-direction: column;
  width: 320px;

  color: $black;
  background-color: $white;
  box-shadow: 0 7px 25px 1px lightgrey;
}

.popup__title {
  font-size: $font-title;
  line-height: $line-height-title;
  text-align: center;
}

.popup__description {
  display: inline-block;
  margin: 0 auto;
  margin-left: 55px;
  padding-top: 8px;

  width: 210px;

  text-align: center;
  font-size: $number-description;
  line-height: $line-height-fill;
  font-weight: normal;
}

.popup__error {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 23px;
  margin-bottom: 35px;
  padding: 16px 0;
  width: 180px;
  height: 58px;

  color: $white;

  font-size: $font-title;
  line-height: $line-height-title;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $nav;
  border: none;
}

.popup__rewiew {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 280px;
  height: 58px;

  color: $white;

  font-size: $font-title;
  line-height: $line-height-title;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $nav;
  border: none;
}

.popup__background {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  width: 320px;
  background-color: $input-gray;
}

.popup__description--comment {
  display: inline-block;
  margin: 0 auto;
  margin-left: 50px;
  padding-top: 8px;

  width: 224px;

  text-align: center;
  font-size: $number-description;
  line-height: $line-height-fill;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .popup {
    width: 400px;
  }
}

@media (min-width: $desktop-width) {
  .popup {
    width: 800px;
  }
}
