.popup {
  display: flex;
  flex-direction: column;
  width: 320px;

  color: $black;
  background-color: $white;
  box-shadow: 0 7px 25px 1px lightgrey;
}

.popup-succes {
  display: none;
  position: absolute;
  bottom: 593px;
}

.popup-error {
  display: none;
  position: absolute;
  bottom: 705px;
}

.popup__title {
  font-size: $font-title;
  line-height: $line-height-title;
  text-align: center;
}

.popup__description {
  display: inline-block;
  margin: 0 auto;
  margin-left: 55px;
  padding-top: 8px;

  width: 210px;

  text-align: center;
  font-size: $number-description;
  line-height: $line-height-fill;
  font-weight: normal;
}

.popup__error {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 23px;
  margin-bottom: 35px;
  padding: 16px 0;
  width: 180px;
  height: 58px;

  color: $white;

  font-size: $font-title;
  line-height: $line-height-title;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $nav;
  border: none;
}

.popup__close {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 280px;
  height: 58px;

  color: $white;

  font-size: $font-title;
  line-height: $line-height-title;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $nav;
  border: none;
}

.popup__background {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  width: 320px;
  background-color: $input-gray;
}

.popup__description--comment {
  display: inline-block;
  margin: 0 auto;
  margin-left: 50px;
  padding-top: 8px;

  width: 224px;

  text-align: center;
  font-size: $number-description;
  line-height: $line-height-fill;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .popup {
    width: 400px;
    height: 347px;
  }

  .popup-succes {
    bottom: 505px;
    left: 64px;
    width: 640px;
    z-index: 2;
  }

  .popup-error {
    bottom: 344px;
    left: 184px;
    z-index: 2;
  }

  .popup__title {
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 16px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: $title-error;
    line-height: $nav-list-item;
  }

  .popup__description {
    margin-left: 60px;
    margin-right: 55px;
    padding-bottom: 10px;
    width: 280px;
  }

  .popup__description--comment {
    width: 420px;
    margin-left: 110px;
    padding-bottom: 10px;
  }

  .popup__error {
    width: 272px;

    color: $white;
    font-size: $line-height-desc;
  }

  .popup__background {
    margin-top: 24px;
    width: 640px;
    height: 146px;
  }

  .popup__close {
    margin-top: 44px;
    margin-bottom: 0;
    width: 458px;
    height: 58px;
    font-size: $line-height-desc;
  }
}

@media (min-width: $desktop-width) {
  .popup-succes {
    bottom: 503px;
    left: 279px;
  }

  .popup-error {
    left: 400px;
    bottom: 232px;
  }
}
