.recommendations {
  display: flex;
  flex-direction: column;
  width: 320px;
}


.recommendations__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
  outline: 1px solid red;
}

.recommendations__item {
  display: flex;
  flex-direction: row;
  outline: 1px solid red;
}

.recommendations__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.recommendations__title {
  margin: 0;
  padding: 0;

  font-size: $font-title;
  line-height: $line-height-title;
  font-weight: bold;
  text-align: center;
}

.recommendations__description {
  margin: 0;
  padding: 0;

  font-size: $number-description;
  line-height: $line-height-desc;
  font-weight: normal;
  text-align: center;
}
