.recommendations {
  display: flex;
  flex-direction: column;
  width: 320px;
}


.recommendations__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
  outline: 1px solid red;
}

.recommendations__item {
  display: flex;
  flex-direction: row;
  outline: 1px solid red;
}

.recommendations__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.recommendations__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
}
