.search-hotel {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 288px;

  outline: 1px solid red;
}

.search-hotel__settings {
  color: $black;
  background-color: $white;
}

.search-hotel__title {
  margin-top: 29px;
  font-weight: bold;
  font-size: $line-height-desc;
  line-height: $line-height-title;
  text-align: center;
}

.search-hotel__fill {
  margin-top: 2px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: $number-description;
  line-height: $line-height-fill;
  font-weight: normal;
  text-align: center;
}

.search-hotel__button {
  width: 280px;
  margin: 0 auto;
  margin-top: 21px;
  padding-top: 17px;
  padding-bottom: 15px;

  color: $white;

  font-size: $line-height-desc;
  line-height: $line-height-title;
  font-weight: bold;
  text-align: center;

  text-decoration: none;
  background-color: $nav;
}
