.site-list {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 280px;

  background-color: $white;
}

.site-list__item--active {
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 21px;
  padding-right: 21px;

  color: $white;

  font-size: $font-title;
  line-height: $line-height-fill;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid $nav-top;
  border-bottom: 1px solid $nav-bottom;
  background-color: $nav;
}

.site-list__link {
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 21px;
  padding-right: 21px;

  color: $white;

  font-size: $font-title;
  line-height: $line-height-fill;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid $nav-top;
  border-bottom: 1px solid $nav-bottom;
  background-color: $nav;
}

.site-list__link:hover {
  background-color: $hover-button;
}

.site-list__link:active {
  color: $active-color;
  background-color: $active-button;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    justify-content: flex-start;
    width: 768px;
    min-height: 56px;
    margin: 0 auto;
    padding: 0;
  }

  .site-list__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 153px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: $white;
    border: none;
  }

  .site-list__item:nth-child(4) {
    padding-top: 15px;
  }

  .site-list__item--active {
    color: $active-brown;

    font-size: $number-description;
  }

  .site-list__item:nth-child(4n-1) {
    margin-left: 160px;
  }

  .site-list__link {
    margin: 0;
    padding: 0;

    color: $black;
    background-color: $white;
    border: none;

    font-size: $number-description;
  }

  .site-list__link:hover,
  .site-list__link:focus {
    color: $nav;
    background-color: $white;
  }

  .site-list__link:active {
    color: $active-gray;
    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 1200px;
  }

  .site-list__item {
    width: 240px;
  }

  .site-list__item:nth-child(4n-1) {
    margin-left: 245px;
  }
}
