.social {
  display: block;

  outline: 1px solid red;
}

.social__list {
  display: flex;
  width: 156px;
  margin-left: 45px;

  list-style: none;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 46px;
  height: 48px;

  color: $white;

  background-color: $nav;
}

.social__link {
  padding-top: 7px;

  background-color: $nav;
}
