.social {
  display: block;

  outline: 1px solid red;
}

.social__list {
  display: flex;
  width: 156px;
  margin-left: 45px;

  list-style: none;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 46px;
  height: 48px;

  color: $white;

  background-color: $nav;
}

.social__link {
  padding-top: 7px;

  background-color: $nav;
}

@media (min-width: $tablet-width) {
  .social {
    display: block;

    outline: none;
  }

  .social__list {
    display: flex;
    margin-top: 34px;
    margin-left: 13px;
    width: 156px;

    list-style: none;
  }

  .social__link {
    padding-top: 5px;

    background-color: $nav;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    margin-top: 35px;
    margin-left: 84px;
    width: 156px;
  }
}
